* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(120deg, #ff6a00, #ee0979, #ff6a88, #c471f5);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
aside {
    max-width: 50%;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

aside div a {
    position: relative; /* Adiciona posição relativa para o pseudo-elemento */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #6a11cb, #2575fc, #232526, #414345);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    margin-right: 80px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}


aside div a:hover {
    background: linear-gradient(9deg, #05a7bd, #15012b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

aside div a:last-child {
    margin-right: 0; /* Remove margem do último link */
}

section {
    max-width: 50%; /* Limita a largura máxima da seção */
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex; /* Adiciona flexbox para centralizar o conteúdo verticalmente */
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
}

h1 {
    background: linear-gradient(120deg, #6a11cb, #2575fc, #232526, #414345); /* Altera o gradiente */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 10px;
}

p {
    color: #15012b;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(120deg, #6a11cb, #2575fc, #232526, #414345); 
    color: #fff;
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    cursor: pointer;
}

button:hover {
    background: linear-gradient(9deg, #05a7bd, #15012b); /* Altera o gradiente ao passar o mouse */
}

img {
    
    width: 600px; /* Define a largura da imagem */
    height: auto; /* Manter a proporção da imagem */
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */

}